[data-testid=metric-container] {
    box-shadow: 0 0 4px #1ad138;
    padding: 10px;
}

.plot-container>div {
    box-shadow: 0 0 3px #281069;
    padding: 100;
     
    
   
}

/* div[data-testid="stExpander"] div[role="button"] p
{
    font-size: 1.3rem;
    color:rgb(45, 14, 179);
} */
.sidebar .css-1y0e3a7 {
    font-size: 20px; /* تغيير حجم الخط */
    width: 20px;
  
}


